[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "epidemia"]
	path = epidemia
	url = https://github.com/imperialcollegelondon/epidemia
	shallow = true
	registered = true
[submodule "safedata"]
	path = safedata
	url = https://github.com/imperialcollegelondon/safedata
	shallow = true
	registered = true
